canvas {
    margin-top: calc(50vh - 250px);
    margin-left: calc(50vw - 250px);
}

.fork {
    user-select: none;
    position: fixed;
    transform: rotate(45deg);
    line-height: 1.6em;
    transform-origin: 150px 23px;
    text-align: center;
    font-family: sans-serif;
    display: inline-block;
    bottom: 53px;
    left: -91px;
    width: 300px;
    background-color: #b25932;
    outline: 4px solid #b25932;
    border: 2px dashed #ffffff;
    color: #ffffff;
}

.tips {
    padding: 10px;
    color: #b25932;
    position: fixed;
    left: 20px;
    top: 20px;
    background-color: white;

    &>div {
        font-size: 12px;
        margin-top: 20px;
        color: black;

        &>a {
            text-decoration: underline;
        }
    }
}

.process {
    color: white;
    top: calc(50vh - 25px);
    left: calc(50vw - 250px);
    position: fixed;
    text-align: center;
    width: 500px;
    height: 50px;

    &>span {
        &.icon {
            border: 2px solid gray;
            border-radius: 10px;
            width: 300px;
            height: 24px;
            padding: 2px;
            display: inline-block;
            text-align: left;
            margin-bottom: 10px;

            &>i {
                background-color: #73c944;
                display: inline-block;
                height: 16px;
                border-radius: 10px;
            }
        }
    }

    &[load='yes'] {
        display: none;
    }
}
